@media (max-width: 1050px) {
    .header__logo {
        margin: 0 54px 0 0;
    }
    .header__nav {
        margin: 0 35px 0 0;
    }
}
 

@media (max-width: 992px) {
    
    .container {
        max-width: 960px;
    }

    .header__logo {
        margin: 0 107px 0 0;
    }
    .header__nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.81);
        color: #FFFFFF;
        overflow: auto;
    }
    .header__nav ul {
        display: block;
        position: absolute;
        top: 90px;
        right: 20px;
        
    }
    .header__nav ul li:not(:last-child) {
        margin: 0 0 36px 0;
    }
    .header__nav ul li a {
        justify-content: end;
        font-size: 17px;
    }
    .header__nav ul li a span {
        background: #FFFFFF;
    }

    .header__phone {
        margin: 0 88px 0 0;
    }

    .header__buttons {
        display: none;
        position: absolute;
        color: #FFFFFF;
    }

    .header__auth {
        background: transparent;
        border: 1px solid #fff;
        font-size: 17px;
    }
    .header__auth:hover {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.81);
        color: rgba(0, 0, 0, 0.81);
    }
    .header__auth svg {
        fill: #FFFFFF;
    }
    .header__auth:hover svg {
        fill: rgba(0, 0, 0, 0.81);
    }
    .header__buttons ul li {
        background-color: transparent;
        border: 1px solid #fff;
        margin: 0 0 3px 0;
    }
    .header__buttons ul li:hover {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.81);
        color: rgba(0, 0, 0, 0.81);
    }

    .header__cart {
        margin: 0 70px 0 0;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 31px;
        height: 23px;
        z-index: 5;
    }
    .header__burger::before,
    .header__burger::after {
        content: "";
        background-color: #2A2D46;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__burger span {
        background-color: #2A2D46;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 10px;
    }
    .header__burger.open-burger::before {
        background-color: #fff;
        transform: rotate(45deg);
        top: 10px;
    }
    .header__burger.open-burger::after {
        background-color: #fff;
        transform: rotate(-45deg);
        top: 10px;
    }
    .header__burger.open-burger span {
        background-color: #fff;
        transform: scale(0);
    }

    .modal__body {
        padding: 0;
    }
    .modal__content {
        width: 100%;
    }
    .form__body {
        width: 100%;
    }

    .preview {
        flex-direction: column;
    }
}

@media (max-width: 706px) {
    .header__logo,
    .header__phone,
    .header__cart {
        margin: 0 42px 0 0;
    }
}


@media (max-width: 576px) {

    .container {
        max-width: 540px;
    }

    .header__container {
        flex-wrap: wrap;
    }
    .header__logo {
        order: 1;
        margin: 0 49px 12px 0;
        flex: 1 1 50%;
    }
    .header__phone {
        order: 3;
        margin: 0 51px 0 0;
        flex: 1 1 50%;
    }
    .header__cart{
        order: 4;
        margin: 0;
        
    }
    .header__burger {
        order: 2;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 290px;
    }

    .header__container {
        flex-wrap: wrap;
    }
    .header__logo {
        margin: 0 49px 12px 0;
    }
    .header__phone {
        margin: 0 51px 0 0;
        flex: 1 1 auto;
    }
    .header__cart{
        margin: 0;
    }
}